.gitignore
.jekyll-metadata
Gemfile
Gemfile.lock
_site/
_pages/*.swp
*.swp

*.gem
.bundle
Gemfile.lock
**/vendor/bundle
vendor/bundle

node_modules
npm-debug.log*
package-lock.json
codekit-config.json

.DS_Store

.jekyll-cache
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site

*~
*.sw[p_]

